@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
*::after,
*::before {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(var(--color-primary-text));
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 400px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1124px;
  }
}

/*
.platforms-gradient {
    background-image: linear-gradient(115deg, rgb(var(--twitch-color)), rgb(var(--youtube-color)), rgb(var(--kick-color)));
    overflow: hidden;
    transition: all 0.3s;
}

.platforms-gradient:hover {
    -webkit-animation: play 1.6s ease-in infinite;
}

@-webkit-keyframes play {
    0% {
        background-position: 0px;
    }
    20% {
        background-position: -40px;
    }
    40% {
        background-position: -80px;
    }
    60% {
        background-position: -120px;
    }
    80% {
        background-position: -160x;
    }
    100% {
        background-position: -200px;
    }
}
*/
